<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>

<div th:insert="template1"></div>

<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
            <form method="post" th:action="@{save}" >
            <label for="nom">Nom</label>
            <input id="nom" class="form-control" type="text" th:value="${patient.getName()}" >

            <label for="date_">Date de naissance</label>
            <input id="date_" class="form-control" type="date" th:value="${patient.getDateNaissance()}" >

            <label for="state">Malade</label>
            <input id="state" class="form-check" type="checkbox" th:checked="${patient.isMalade()}">

            <label for="score">Score</label>
            <input id="score" class="form-control" type="text" th:value="${patient.getScore()}" >

                <button type="submit" class="btn btn-primary ">Save</button>

        </form>
    </div>
</div>
</body>
</html>